body{
    background-color: aliceblue;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    height: 150 px;
    background-color: darkgray;
    color:crimson;
    text-align: center;
    justify-content: center;
    font-size: medium;
    font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}
nav{ 
    display: flex;
    height: 30px;
    background-color: rgb(48, 48, 48);
    justify-content: space-evenly;
    text-align: center;
    font-style: oblique;
    font-size: medium;
    font-family:'Karla', sans-serif;
}
a{
    font-family: 'Karla', sans-serif;
    color: white;   
    border-radius: 30px;
    padding: 10px 25px;
    margin: 20px;
    font-size: 20px;
}
a.button{
    padding: 5px 12px;
    border-radius: 12px;
}
a.button:hover{
    background-color: white;
    color: black;
}
#opzioni{
    font-family: 'Karla', sans-serif;
    font-style: italic;
    text-transform:capitalize;
} 

section{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    background-color:rgb(233, 230, 230);
    height: 100%;
    padding: 50px;
    border-style: solid;
}

@media(max-width:500px){
    body{
        font-size: 14 px;
    }
}
@media(max-width: 500px){
    header{
        height: 230px;
     }
    h1{
       font-size: xx-large;
     }
}
#menumini{
    display: none;
}
#menumini div{
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 5px 0;
}
@media (max-width: 1000px){
    #opzioni{
        display: none;
    }
   #menumini{
       display: block;
   }
}
@media (max-width: 500px) {
   section{
      height: 100%;
    }
    .spotify{
        width: 100%;
      }
      .api p{
        font-size: 10px;
        margin: 0;
      }
      
      #track{
        font-size: 12px;
        border-radius: 10px;
      }
      
      #submit{  
        height: 10px;
        width: 10px;
      }
      
     .box {
        margin: 20px 5px;
        border-radius: 20px;
        width: 100px;
      }
      
     .box img{
        width: 90%;
        margin: 15px;
        align-items: center;
        border-radius: 10px;
      }
      
      .box span{
        margin: 10px;
        font-size: 15px;
        color: white;
      }
}

p{
    font-size: large;
    
}

.api{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .api #Ricerca{
    margin: 10px;

  }
  
  .api p{
   
    color: white;
    font-size: 45px;
    font-style: oblique;
    margin: 0px;  
  }
  
  #track{
    background-color: rgb(239, 228, 228);
    border: 1px solid black;
    font-size: 20px;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    text-align: start;
  }
  
  #submit{
    border: 1px solid black;
    height: 25px;
    width: 50px;
    border-radius: 10px;
  }
  #submit:hover{
      opacity: 0.8;
  }
  
 #Box{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    color: rgb(255, 255, 255);
  }
  
 .box {
    margin: 20px 5px;
    border-radius: 10px;
    width: 100px;
  }
  
 .box img{
    width: 100px;
    height: 100px;
    align-items: center;
    border-radius: 10px;
}
  
  .box span{
    margin: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
  }
 
  #io {
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   
}
#cont{
  font-size: 0.8em;
  text-align: center;
text-decoration: none;
  margin:auto;
  width: fit-content;
}
#eventi{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#eventi div{

  margin: 3px;
  border: 20px;
}
#eventi b{
  margin-bottom: 3px;
  font-family:'Times New Roman', Times, serif;
  color: black;   
  margin: 20px;
  font-size: 20px;
}
form {
  border-radius: 5px;
  
}
